<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <div class="ion-text-center">
      <ion-title>Eventos</ion-title>
    </div>
  </ion-toolbar>
</ion-header>


<ion-content padding>
  <ion-card *ngFor="let evento of eventos">
    <a href="{{evento.link}}"><img src="{{evento.img}}"></a>
    <ion-card-header>
      <ion-card-subtitle>{{evento.data}}</ion-card-subtitle>
      <ion-card-title>{{evento.titulo}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{evento.local}}
    </ion-card-content>
  </ion-card>

  <ion-card *ngFor="let event of events">
<!--    <a href=""><img src="{{event.img}}"></a>-->
    <ion-card-header>
      <ion-card-subtitle>{{event.date}}</ion-card-subtitle>
      <ion-card-title>{{event.name}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{event.local}}
    </ion-card-content>
  </ion-card>
</ion-content>

{{events | json}}
